body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.registration-form {
    background-color: white;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
    width: 600px;
}

h2 {
    text-align: center;
    margin-bottom: 30px;
    font-weight: 600;
}

.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.full-width {
    grid-column: span 2;
}

.full-row {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}


.input-field {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: 500;
}

input,
select {
    padding: 12px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fafafa;
}

.register-button {
    width: 100%;
    padding: 14px;
    font-size: 15px;
    background-color: #0071E3;
    color: white;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.register-button:hover {
    background-color: #004386;
}

.login-link {
    text-align: center;
    font-size: 13px;
    margin-top: -5px;
}

.login-link a {
    color: #0071E3;
    text-decoration: none;
}

.login-link a:hover {
    text-decoration: underline;
}

.terms {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    font-size: 13px;
    margin-bottom: 3px;
    margin-top: 3px;
    flex-direction: row;
}

.terms input[type="checkbox"] {
    margin-top: 3px;
}

.terms a {
    color: #0071E3;
    text-decoration: none;
}

.terms a:hover {
    text-decoration: underline;
}